In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('data/여행지.csv')

In [51]:
df.head(3)

   Unnamed: 0 City / Urban area    Country  Population  Land area (in sqKm)
0           0      Buenos Aires  Argentina    11200000                 2266
1           1         Melbourne  Australia     3162000                 2080
2           2            Sydney  Australia     3502000                 1687

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           249 non-null    int64
 1   City / Urban area    249 non-null    object
 2   Country              249 non-null    object
 3   Population           249 non-null    int64
 4   Land area (in sqKm)  249 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.9+ KB

In [53]:
df['City / Urban area']

0          Buenos Aires
1             Melbourne
2                Sydney
3              Brisbane
4                 Perth
             ...
244              Canton
245             Spokane
246            Tashkent
247    Ho Chi Minh City
248              Harare
Name: City / Urban area, Length: 249, dtype: object

In [54]:
df['City / Urban area'].unique()

array(['Buenos Aires', 'Melbourne', 'Sydney', 'Brisbane', 'Perth',
       'Adelaide', 'Gold Coast', 'Vienna', 'Baku/Sumqayit', 'Brussels',
       'Antwerp', 'Sao Paulo', 'Rio de Janeiro', 'Belo Horizonte',
       'Curitiba', 'Brasilia', 'Fortaleza', 'Porto Alegre', 'Campinas',
       'Goiania', 'Recife', 'Phnom Penh', 'Montreal.', 'Toronto',
       'Vancouver', 'Edmonton', 'Calgary', 'Quebec', 'Ottawa/Hull',
       'Winnipeg', 'St. Catharines', 'Santiago', 'Beijing', 'Shanghai',
       'Shenzhen', 'Shenyang', 'Tianjin', 'Dalian', 'Bogota', 'Kinshasa',
       'Lumumbashi', 'Copenhagen', 'Quito', 'Cairo', 'Helsinki', 'Paris',
       'Marseille', 'Bordeaux', 'Lyon', 'Toulouse', 'Nice', 'Toulon',
       'Avignon', 'Valenciennes', 'Douai/Lens', 'Nantes', 'Lille', 'Pau',
       'Tours', 'Bethune', 'Essen/Düsseldorf', 'Berlin', 'Frankfurt',
       'Hamburg', 'Cologne/Bonn', 'Munich', 'Stuttgart', 'Aachen',
       'Accra', 'Athens', 'Budapest', 'Delhi', 'Hyderabad', 'Bangalore',
       'Kolkata', 'Mumbai', 'Chennai', 'Jakarta', 'Tehran', 'Baghdad',
       'Dublin', 'Tel Aviv', 'Milan', 'Rome', 'Naples', 'Turin',
       'Tokyo/Yokohama', 'Nagoya', 'Osaka/Kobe/Kyoto', 'Fukuoka',
       'Sapporo', 'Kuwait', 'Beirut', 'Kuala Lumpur', 'Mexico City',
       'Guadalajara', 'Monterey', 'Rotterdam', 'Auckland', 'Lagos',
       'Lahore', 'Karachi', 'Lima', 'Manila', 'Katowice', 'Warsaw',
       'Lisbon', 'Porto', 'San Juan', 'Aguadilla', 'Moscow',
       'St Petersburg', 'Nizhni Novgorod', 'Arabia', 'Riyadh', 'Jeddah',
       'Singapore', 'Johannesburg/East Rand', 'Durban', 'Cape Town',
       'Pretoria', 'Vereeniging', 'Port Elizabeth', 'Seoul/Incheon',
       'Madrid', 'Barcelona', 'Khartoum', 'Stockholm', 'Taichung',
       'Taipei', 'Bangkok', 'Istanbul', 'Ankara', 'Abu Dhabi', 'Dubai',
       'London', 'Birmingham', 'Manchester', 'Leeds/Bradford', 'Glasgow',
       'Donetsk', 'New York Metro', 'Chicago', 'Atlanta', 'Philadelphia',
       'Boston', 'Los Angeles', 'Dallas/Fort Worth', 'Houston', 'Detroit',
       'Washington', 'Miami', 'Seattle', 'Minneapolis/St. Paul',
       'Pittsburgh', 'St. Louis', 'Tampa//St. Petersburg', 'Phoenix/Mesa',
       'San Diego', 'Baltimore', 'Cincinnati', 'Cleveland', 'Kansas City',
       'Indianapolis', 'San Francisco//Oakland', 'Virginia Beach',
       'Providence', 'Denver', 'Milwaukee', 'Portland', 'Hartford',
       'Bridgeport//Stamford', 'Orlando', 'Riverside/San Bernardino',
       'Richmond', 'Charlotte', 'Nashville', 'Jacksonville',
       'San Antonio', 'Memphis', 'Columbus', 'Louisville', 'Sacramento',
       'Buffalo', 'Knoxville', 'Dayton', 'Oklahoma City', 'Raleigh',
       'Austin', 'McAllen', 'Springfield', 'Akron', 'Rochester', 'Tucson',
       'Chattanooga', 'Allentown/Bethlehem', 'Barnstable Town',
       'Las Vegas', 'New Haven', 'Albany', 'Baton Rouge',
       'Sarasota//Bradenton', 'Columbia', 'Poughkeepsie', 'Tulsa',
       'San Jose', 'Grand Rapids', 'Winston/Salem', 'Worcester',
       'Augusta', 'Flint', 'Charleston', 'Salt Lake City', 'Youngstown',
       'Greenville', 'Omaha', 'Albuquerque', 'Palm Bay', 'El Paso',
       'Pensacola', 'Hickory', 'Mobile', 'Harrisburg', 'Asheville',
       'Little Rock', 'Toledo', 'Lancaster', 'New Orleans',
       'Colorado Springs', 'Cape Coral', 'Ogden', 'Syracuse', 'Wichita',
       'Concord', 'Port St Lucie', 'Fayetteville', 'Jackson', 'Scranton',
       'Huntsville', 'Durham', 'South Bend', 'Shreveport', 'Honolulu',
       'Bonita Springs / Naples', 'Canton', 'Spokane', 'Tashkent',
       'Ho Chi Minh City', 'Harare'], dtype=object)

In [55]:
df['City / Urban area'].value_counts()

Buenos Aires            1
Bridgeport//Stamford    1
San Diego               1
Baltimore               1
Cincinnati              1
                       ..
Osaka/Kobe/Kyoto        1
Fukuoka                 1
Sapporo                 1
Kuwait                  1
Harare                  1
Name: City / Urban area, Length: 249, dtype: int64

In [56]:
df['Land area (in sqKm)'] >= 10000

0      False
1      False
2      False
3      False
4      False
       ...
244    False
245    False
246    False
247    False
248    False
Name: Land area (in sqKm), Length: 249, dtype: bool

In [57]:
df['Land area (in sqKm)'].unique()

array([2266, 2080, 1687, 1603,  964,  729,  383,  453,  544,  712,  596,
       1968, 1580,  868,  648,  583,  492,  479,  376,  518, 1740, 1655,
       1120,  850,  702,  669,  490,  446,  389,  748,  746,  466,  469,
        427,  816, 1295, 2723, 1204, 1057,  954,  808,  721,  713,  508,
        507,  489,  476,  474,  450,  421,  390, 2642,  984,  829,  414,
        401,  684,  534,  531,  484, 1360,  686,  365, 1554,  842,  500,
       6993, 2875, 2564, 1606, 2072,  738,  622, 1399,  881, 2309,  620,
       2150,  505,  673, 1101,  777, 2396, 1049,  945,  803,  510, 1010,
       1166, 1623,  600,  558,  370,  368,  451, 8683, 5498, 5083, 4661,
       4497, 4320, 3644, 3355, 3267, 2996, 2891, 2470, 2316, 2208, 2147,
       2078, 2069, 2026, 1768, 1676, 1514, 1432, 1365, 1364, 1304, 1292,
       1261, 1228, 1216, 1205, 1174, 1136, 1131, 1126, 1116, 1063, 1056,
       1036, 1030, 1013,  956,  950,  879,  838,  835,  828,  824,  813,
        800,  797,  764,  755,  751,  750,  741,  739,  736,  727,  700,
        697,  677,  674,  667,  651,  599,  598,  591,  587,  586,  580,
        569,  568,  546,  540,  536,  532,  524,  517,  512,  511,  497,
        465,  457,  438,  433,  417,  411,  407,  406,  404,  399,  372,
        371], dtype=int64)

In [58]:
df[np.array(df['Population'] ) / np.array(df['Land area (in sqKm)']) > 10000].value_counts()

Unnamed: 0  City / Urban area  Country      Population  Land area (in sqKm)
32          Beijing            China        8614000     748                    1
76          Chennai            India        5950000     414                    1
123         Seoul/Incheon      South Korea  17500000    1049                   1
103         Manila             Philippines  14750000    1399                   1
102         Lima               Peru         7000000     596                    1
101         Karachi            Pakistan     9800000     518                    1
99          Lagos              Nigeria      13400000    738                    1
78          Tehran             Iran         7250000     686                    1
77          Jakarta            Indonesia    14250000    1360                   1
75          Mumbai             India        14350000    484                    1
33          Shanghai           China        10000000    746                    1
74          Kolkata            India        12700000    531                    1
73          Bangalore          India        5400000     534                    1
71          Delhi              India        14300000    1295                   1
39          Kinshasa           Congo        5000000     469                    1
38          Bogota             Colombia     7000000     518                    1
36          Tianjin            China        4750000     453                    1
34          Shenzhen           China        8000000     466                    1
129         Taipei             Taiwan       5700000     376                    1
dtype: int64

In [59]:
dfdf['Population'] / df['Land area (in sqKm)']

NameError: name 'dfdf' is not defined

In [60]:
df.head()

   Unnamed: 0 City / Urban area    Country  Population  Land area (in sqKm)
0           0      Buenos Aires  Argentina    11200000                 2266
1           1         Melbourne  Australia     3162000                 2080
2           2            Sydney  Australia     3502000                 1687
3           3          Brisbane  Australia     1508000                 1603
4           4             Perth  Australia     1177000                  964

In [66]:
df['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

In [62]:
df1[df1 == 4]

Italy    4
Name: Country, dtype: int64

In [63]:
df1

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64