In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# pip install mysqlclient

In [22]:
import MySQLdb as sqldb

In [23]:
db = sqldb.connect(host='localhost',port=3306, user='root',password='1234',charset='utf8')

In [ ]:
# cursor 생성

In [30]:
cursor = db.cursor()

In [49]:
sql = """
show databases
"""
cursor.execute(sql)  # cursor 객체에 execute()를 통해 sql 명령을 날린다.
cursor.fetchall() # fetchall()을 해서 결과를 가져온다

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testdb',),
 ('world',))

In [44]:
sql = """
create database testdb
"""
cursor.execute(sql)

ProgrammingError: (1007, "Can't create database 'testdb'; database exists")

In [48]:
sql = """
drop database if exists testdb:
create database testdb:
"""
cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':\ncreate database testdb:' at line 1")

In [64]:
sql = """
use testdb
"""
cursor.execute(sql)

0

In [ ]:
# 테이블 생성

In [57]:
# create table 테이블명 (col1, col_datatype, constraints)
sql = """
create table mytable(
    no int not null auto_increment,
    name char(20) not null,
    age tinyint, 
    phone varchar(20),
    email varchar(30) not null,
    address varchar(50),
    primary key(no)    # primary key : row 데이터들을 구별할 수 있는 칼럼값, not null,  unique
)
"""
cursor.execute(sql)

0

In [63]:
sql = """
desc mytable
"""
cursor.execute(sql) 
cursor.fetchall()

(('no', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'char(20)', 'NO', '', None, ''),
 ('age', 'tinyint', 'YES', '', None, ''),
 ('phone', 'varchar(20)', 'YES', '', None, ''),
 ('email', 'varchar(30)', 'NO', '', None, ''),
 ('address', 'varchar(50)', 'YES', '', None, ''))

In [65]:
# sql = """
# drop table if exists mytable
# """
# cursor.execute(sql)
# cursor.fetchall()

In [66]:
# 테이블 수정 'alter table 테이블명 modify/change'

In [68]:
sql = """
alter table mytable modify column name varchar(30) not null
"""
cursor.execute(sql)

0

In [69]:
sql = """
alter table mytable change age age_num int not null
"""
cursor.execute(sql)

0

In [71]:
sql = """
desc mytable
"""
cursor.execute(sql)
cursor.fetchall()

(('no', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(30)', 'NO', '', None, ''),
 ('age_num', 'int', 'NO', '', None, ''),
 ('phone', 'varchar(20)', 'YES', '', None, ''),
 ('email', 'varchar(30)', 'NO', '', None, ''),
 ('address', 'varchar(50)', 'YES', '', None, ''))

In [72]:
sql = """
alter table mytable change column age_num age int null
"""
cursor.execute(sql)

0

In [75]:
# 테이블에 값을 입력
# inset into 테이블명(cl1,col2..) values(val1,val2..)

sql = """
create table mytable1(
    id int not null auto_increment,
    name varchar(50) not null,
    model_num varchar(10) not null,
    model_type varchar(30) not null,
    primary key(id)
)
"""
cursor.execute(sql)

0

In [80]:
sql = """
insert into mytable1 (name,model_num,model_type) values('i7','7700','kaby lake')
insert into mytable1 (name,model_num,model_type) values('i7','7500','kaby lake')
insert into mytable1 (name,model_num,model_type) values('i7','7700K','kaby lake':
insert into mytable1 (name,model_num,model_type) values('i7','g4600','kaby lake':
insert into mytable1 (name,model_num,model_type) values('i7','7600','kaby lake')

"""
cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'insert into mytable1 (name,model_num,model_type) values('i7','7500','kaby lake')' at line 2")

In [ ]:
# table의 value를 수정 => updata 수정