In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('data/Top250.csv')
df1.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [3]:
df2 = pd.read_csv('data/Independence100.csv')
df2.head()

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
1,2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
2,3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
4,5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0

In [4]:
df3 = pd.read_csv('data/Future50.csv')
df3.head()

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

In [5]:
df1

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger
...,...,...,...,...,...,...,...,...,...
245,246,Rainforest Cafe,NaN,129,-10.4%,18,-5.3%,NaN,Varied Menu
246,247,PDQ,NaN,127,-5.5%,56,-11.1%,NaN,Chicken
247,248,Lupe Tortilla,NaN,127,12.1%,25,8.7%,NaN,Mexican
248,249,Cook-Out Restaurant,NaN,126,10.1%,270,7.1%,NaN,Burger
249,250,Jollibee,NaN,126,15.2%,40,11.1%,NaN,Chicken

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              250 non-null    int64
 1   Restaurant        250 non-null    object
 2   Content           33 non-null     object
 3   Sales             250 non-null    int64
 4   YOY_Sales         250 non-null    object
 5   Units             250 non-null    int64
 6   YOY_Units         250 non-null    object
 7   Headquarters      52 non-null     object
 8   Segment_Category  250 non-null    object
dtypes: int64(3), object(6)
memory usage: 17.7+ KB

In [7]:
df1.columns = ['랭킹','레스토랑이름','함유량','매상','전년대비증가율','미국내건물수','전년대비','식당본사소재지','메뉴&서비스']

In [8]:
df1.head()

,랭킹,레스토랑이름,함유량,매상,전년대비증가율,미국내건물수,전년대비,식당본사소재지,메뉴&서비스
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   랭킹       250 non-null    int64
 1   레스토랑이름   250 non-null    object
 2   함유량      33 non-null     object
 3   매상       250 non-null    int64
 4   전년대비증가율  250 non-null    object
 5   미국내건물수   250 non-null    int64
 6   전년대비     250 non-null    object
 7   식당본사소재지  52 non-null     object
 8   메뉴&서비스   250 non-null    object
dtypes: int64(3), object(6)
memory usage: 17.7+ KB

In [10]:
df1.drop(['함유량','식당본사소재지'],axis=1,inplace=True)

In [11]:
df1.head()

   랭킹       레스토랑이름     매상 전년대비증가율  미국내건물수   전년대비                       메뉴&서비스
0   1   McDonald's  40412    4.9%   13846  -0.5%       Quick Service & Burger
1   2    Starbucks  21380    8.6%   15049   3.0%  Quick Service & Coffee Cafe
2   3  Chick-fil-A  11320   13.0%    2470   5.0%      Quick Service & Chicken
3   4    Taco Bell  11293    9.0%    6766   2.7%      Quick Service & Mexican
4   5  Burger King  10204    2.7%    7346   0.2%       Quick Service & Burger

In [13]:
df1.isnull().sum()

랭킹         0
레스토랑이름     0
매상         0
전년대비증가율    0
미국내건물수     0
전년대비       0
메뉴&서비스     0
dtype: int64

In [15]:
df1.전년대비증가율.apply(lambda x:x.replace('%',''))

0        4.9
1        8.6
2       13.0
3        9.0
4        2.7
       ...
245    -10.4
246     -5.5
247     12.1
248     10.1
249     15.2
Name: 전년대비증가율, Length: 250, dtype: object